In [189]:
#Text containing dates in many different formats

text = ('03/25/93 Total time of visit (in minutes):\n',
 '4-13-82 Other Child Health Outcomes Scales Used:\n',
 '.10 Sep 2004 - Intake at EEC for IOP up\n',
 '11 February 1985 CPT Code: 90801\n',
 ".Feb 18, 1994: made a phone call to Mom and Mom \n",
 'MD on October. 11, 2013 Other Agency Involvement: No\n',
 ')- Venlafaxine 37.5mg daily: May, 2011: self-discontinued \n',
 "tIn Sep 2012 patient returned to Jinan\n",
 '9/2005 Primary Care Doctor:\n',
 ".2010 -nightmares and angry outbursts; drinking a lot; \n")

In [190]:
import pandas as pd

#Create Dataframe

df = pd.DataFrame({'text' : text})
df

                                                text
0       03/25/93 Total time of visit (in minutes):\n
1  4-13-82 Other Child Health Outcomes Scales Use...
2          .10 Sep 2004 - Intake at EEC for IOP up\n
3                 11 February 1985 CPT Code: 90801\n
4  .Feb 18, 1994: made a phone call to Mom and Mo...
5  MD on October. 11, 2013 Other Agency Involveme...
6  )- Venlafaxine 37.5mg daily: May, 2011: self-d...
7           tIn Sep 2012 patient returned to Jinan\n
8                      9/2005 Primary Care Doctor:\n
9  .2010 -nightmares and angry outbursts; drinkin...

In [191]:
#Filter out the dates with regex

def datefilter(string):
    final = re.findall(r'\d{1,2}[-/]\d{1,2}[-/ ]\d{2}(?!\d)|(?:20\d{2})|(?:\d{1,2}/\d{4})|(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z[.,]* (?:\d{2}, )?(?:\d{4})',str(string))
    return final

df['dates'] = df.apply(datefilter)
df

                                                text              dates
0       03/25/93 Total time of visit (in minutes):\n           03/25/93
1  4-13-82 Other Child Health Outcomes Scales Use...            4-13-82
2          .10 Sep 2004 - Intake at EEC for IOP up\n        10 Sep 2004
3                 11 February 1985 CPT Code: 90801\n   11 February 1985
4  .Feb 18, 1994: made a phone call to Mom and Mo...       Feb 18, 1994
5  MD on October. 11, 2013 Other Agency Involveme...  October. 11, 2013
6  )- Venlafaxine 37.5mg daily: May, 2011: self-d...          May, 2011
7           tIn Sep 2012 patient returned to Jinan\n           Sep 2012
8                      9/2005 Primary Care Doctor:\n             9/2005
9  .2010 -nightmares and angry outbursts; drinkin...               2010

In [192]:
import datetime
from dateutil.parser import parse

# Unify the date format

def unify(string):
    final = "".join(string)
    final = parse(final, default=datetime.datetime(2015, 1, 1)).strftime("%Y%m%d")
    return final

df['unidates'] = df['dates'].apply(unify)
df = df.sort_values('unidates')
df

,text,dates,unidates
1,4-13-82 Other Child Health Outcomes Scales Use...,4-13-82,19820413
3,11 February 1985 CPT Code: 90801\n,11 February 1985,19850211
0,03/25/93 Total time of visit (in minutes):\n,03/25/93,19930325
4,".Feb 18, 1994: made a phone call to Mom and Mo...","Feb 18, 1994",19940218
2,.10 Sep 2004 - Intake at EEC for IOP up\n,10 Sep 2004,20040910
8,9/2005 Primary Care Doctor:\n,9/2005,20050901
9,.2010 -nightmares and angry outbursts; drinkin...,2010,20100101
6,")- Venlafaxine 37.5mg daily: May, 2011: self-d...","May, 2011",20110501
7,tIn Sep 2012 patient returned to Jinan\n,Sep 2012,20120901
5,"MD on October. 11, 2013 Other Agency Involveme...","October. 11, 2013",20131011

In [193]:
# Make dates more visible

def visible (string):
    final = string[:4] + '/' + string[4:6] + '/' + string[6:]
    return final

df['visible'] = df['unidates'].apply(visible)

df

,text,dates,unidates,visible
1,4-13-82 Other Child Health Outcomes Scales Use...,4-13-82,19820413,1982/04/13
3,11 February 1985 CPT Code: 90801\n,11 February 1985,19850211,1985/02/11
0,03/25/93 Total time of visit (in minutes):\n,03/25/93,19930325,1993/03/25
4,".Feb 18, 1994: made a phone call to Mom and Mo...","Feb 18, 1994",19940218,1994/02/18
2,.10 Sep 2004 - Intake at EEC for IOP up\n,10 Sep 2004,20040910,2004/09/10
8,9/2005 Primary Care Doctor:\n,9/2005,20050901,2005/09/01
9,.2010 -nightmares and angry outbursts; drinkin...,2010,20100101,2010/01/01
6,")- Venlafaxine 37.5mg daily: May, 2011: self-d...","May, 2011",20110501,2011/05/01
7,tIn Sep 2012 patient returned to Jinan\n,Sep 2012,20120901,2012/09/01
5,"MD on October. 11, 2013 Other Agency Involveme...","October. 11, 2013",20131011,2013/10/11

In [194]:
# Create "decades" categories for potential text classification

def decades (string):
    final = string[:3]
    return final

df['decades'] = df['unidates'].apply(decades)

df

,text,dates,unidates,visible,decades
1,4-13-82 Other Child Health Outcomes Scales Use...,4-13-82,19820413,1982/04/13,198
3,11 February 1985 CPT Code: 90801\n,11 February 1985,19850211,1985/02/11,198
0,03/25/93 Total time of visit (in minutes):\n,03/25/93,19930325,1993/03/25,199
4,".Feb 18, 1994: made a phone call to Mom and Mo...","Feb 18, 1994",19940218,1994/02/18,199
2,.10 Sep 2004 - Intake at EEC for IOP up\n,10 Sep 2004,20040910,2004/09/10,200
8,9/2005 Primary Care Doctor:\n,9/2005,20050901,2005/09/01,200
9,.2010 -nightmares and angry outbursts; drinkin...,2010,20100101,2010/01/01,201
6,")- Venlafaxine 37.5mg daily: May, 2011: self-d...","May, 2011",20110501,2011/05/01,201
7,tIn Sep 2012 patient returned to Jinan\n,Sep 2012,20120901,2012/09/01,201
5,"MD on October. 11, 2013 Other Agency Involveme...","October. 11, 2013",20131011,2013/10/11,201